@model string

<div class="alert alert-danger" role="alert">
    ⚠️ No se pudo anular el pago: @Model
</div>

<button id="btnVolverIndex" class="btn btn-primary mt-3 btnVolverIndex">
    Aceptar
</button>
